* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  
  body {
    background-color: darkgray;
    background-size: cover;
  }
  
  .edit-form {
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #fff;
    text-align: center;
  }

.edit-form h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.edit-form p {
    font-size: 20px;
    margin: 15px 0;
}

.edit-form input {
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

.edit-form button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span {
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.edit-form button:hover span {
    width: 100%
}

.edit-form button:hover {
    border: none;
}
