<head>
    <title></title>
</head>

<section class="wrapper">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
</section>
<div class="banner">
    <div class="navbar">
        <ul>
            <li><a class="nav-item" [routerLink]="['/about']">About</a></li>
            <li><a href="">Subscribe</a></li>
            <li><a href="emergency.html">Emergency</a></li>
        </ul>
    </div>
 <div class="register-form">
    <h1>Register Here</h1>
    <form>
        <p>First Name</p>
         <input type="text" class="form-control" id="firstName" placeholder="First name"
            required [(ngModel)]="newUser.firstName" #firstName="ngModel"> 
        <p>Last Name:</p>
         <input type="text" class="form-control" id="lastName" placeholder="Last name"
            [(ngModel)]="newUser.lastName" #lastName="ngModel"> 
        <p>User Name</p>
         <input type="text" class="form-control" id="username" placeholder="Username" 
            [(ngModel)]="newUser.userName" #username="ngModel"> 
        <p>Password</p>
         <input type="text" class="form-control" id="password" placeholder="Password"
            [(ngModel)] ="newUser.password" #password="ngModel"> 
            <button type="button" class="btn btn-lg" (click)="register()"><span></span>Create Account</button>
    </form>
</div>

