
<h3>Register: </h3>
<br>
<!-- 
<div class="container">
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" placeholder="First name" required
            [(ngModel)]="newUser.firstName" #firstName="ngModel">
    </div>
 
    <br>
    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" placeholder="Last name" [(ngModel)]="newUser.lastName"
            #lastName="ngModel">
    </div>
    <br>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Username"
            [(ngModel)]="newUser.username" #username="ngModel">
    </div>
    <br>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="text" class="form-control" id="password" placeholder="Password"
            [(ngModel)]="newUser.password" #password="ngModel">
    </div>
    <br>
</div>

<br><br>

<div class="container">
    <div class="register">
<button type="button" class="btn btn-lg" (click)="register()">Create Account</button>
    </div>
</div>

<br><br>

<div>
    Already registered? <a routerLink="/login">Login Here!</a>
</div> -->

