<!DOCTYPE html>

<html>
<head>
    <title></title>
    

</head>
<body>
    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </section>
     <div class="banner">
        <div class="navbar">
            <ul>
                <li><a class="nav-item" [routerLink]="['/welcome']">Home</a></li>
                <li><a class="nav-item" [routerLink]="['/login']">Login</a></li>
                <li><a class="nav-item" [routerLink]="['/register']">Register</a></li>
                <li><a href="https://www.betterhelp.com/gethelpnow/">Emergency</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>A B O U T</h1>
            <p>Here at Breath we care about you.</p>
            <br>
            <p>There are 800,000 suicides a year. That is 1 person every 40 seconds</p>
            <br>
            <p>Breath helps bring awareness to your mental health and others around you.</p>
            <br>
            <p>We are dedicated to seeing change. A change that first begins in the mind.</p>
            <br>
            <p>It's not to late to signup and find the freedom you're looking for today.</p>
        </div>

    </div>
</body>
</html>
