<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<!-- <form (ngSubmit) = "editUser()"> -->
<body>
    <div class="edit-form">
    <h1>Edit User</h1>
    <form>
    <p>First Name: </p>
    <input type="text" name="firstName" [(ngModel)] = "editUser.firstName"> 
    <p>Last Name: </p>
    <input type="text" name="lastName" [(ngModel)] = "editUser.lastName"> 
    <p>Username: </p>
    <input type="text" name="username" [(ngModel)] = "editUser.userName"> 
    <p>Email: </p>
    <input type="text" name="email" [(ngModel)] = "editUser.email"> 
    <p>Password: </p>
    <input type="text" name="password" [(ngModel)] = "editUser.password"> 

     <button type="button" class="btn btn-lg" (click)="edittedUser()">Edit Account</button>

    </form>
    </div>
</body>
</html>