<!DOCTYPE html>

<html>
<head>
    <title></title>

</head>
<body>
    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </section>
     <div class="banner">
        <div class="navbar">
            <ul>
                <li><a class="nav-item" [routerLink]="['/about']">About</a></li>
                <li><a href="">Subscribe</a></li>
                <li><a href="https://www.betterhelp.com/gethelpnow/">Emergency</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>B R E A T H</h1>
            <p>The beginning of your journey to a healthier you.</p>
            <div>
                <button class="nav-item" [routerLink]="['/login']"><span></span>LOGIN</button>
                <button class="nav-item" [routerLink]="['/register']"><span></span>REGISTER</button>
            </div>
        </div>

    </div>
</body>
</html>

