<!doctype html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Breath</title>
    </head>

    <body>

        <div>
            <navbar> <button onclick="">Login/Register</button> </navbar>
        </div>

        <div>
            <h1>BREATH</h1>
        </div>

        <div id="About">
            <h2>About</h2>
            <p>This is a discription of the website and some statistics on mental health and the usefulness of this website.</p>
        </div>

        <p>If in crisis do not use this site.These resources can provide immediate help.</p>
        
    </body>
</html>