<!-- POST/EDIT -->
<!-- EDIT FORUM POST -->

<head>
    <title></title>
</head>

<section class="wrapper">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
</section>

<div class="banner">
    <div class="navbar">
        <ul>
            <li><a class="nav-item" [routerLink]="['/User/post']">Profile</a></li>
            <li><a class="nav-item" [routerLink]="['/therapist/listall']">View Therapists</a></li>
            <li><a class="nav-item" [routerLink]="['']" (click)="onLogout()">LOGOUT</a></li>
        </ul>
    </div>

    <!-- Edit post -->
    <div>
        <h2>Edit your post:</h2>
        <form class="editPost-form">
            <input id="postTitle" [(ngModel)]="editPost.title" name="title" type="text" placeholder="Post Title">
            <br>
            <textarea id="postContent" [(ngModel)]="editPost.content" placeholder="What's on your mind?" name="content"></textarea>
            <br>
            <button type="button" (click)="sendForm()"><span></span>Post</button>
        </form>
    </div>
</div>