<div>
    <h1>BREATH</h1>
</div>

<div>
    <nav>
        <!-- Link to user.profile.html -->
        <a routerLink="">Profile</a>

        <!-- Link to Therapists List -->
        <a routerLink="/therapist/listall"> View Therapists</a>

        <!-- Link to Login/register or welcome.html -->
        <a routerLink="/login">Logout</a>
    </nav>
</div>

<br><br>

<!-- Edit post -->
<form>
    <label for="editPost">Edit Your Post:</label>
    <br>
    <!-- <input id="editTitle" name="editTitle" type="text" [(ngModel)]="post.title">
    <textarea id="editPostContent" name="editPostContent" [(ngModel)]="post.content"></textarea> -->
    <!-- <button type="submit" (onclick)="()">Update</button> -->
</form>