
<head>
    <title></title>
</head>


    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </section>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a class="nav-item" [routerLink]="['/about']">About</a></li>
                <li><a href="">Subscribe</a></li>
                <li><a href="https://www.betterhelp.com/gethelpnow/">Emergency</a></li>
            </ul>
        </div>

    
<div class="content">
    <h1>FIND HELP</h1>
    <button class="button"><span></span>
        <p>Dr. John Johnson </p>
        <br>
        <p>Specialty: Anxiety</p>
    </button>
    <button class="button"><span></span>
        <p>Dr. Sophia Jenkins </p>
        <br>
        <p>Specialty: Mental Health & Awareness</p>
    </button>
    <button class="button"><span></span>
        <p>Dr. Jaime Hopkis </p>
        <br>
        <p>Specialty: Eating Disorder</p>
    </button>
    <button class="button"><span></span>
        <p>Dr. Maria Smith </p>
        <br>
        <p>Specialty: PTSD</p>
    </button>
    <button class="button"><span></span>
        <p>Dr. Will Kepner </p>
        <br>
        <p>Specialty: Sexual Abuse</p>
    </button>
    <button class="button"><span></span>
        <p>Dr. Bill Heather </p>
        <br>
        <p>Specialty: Domestic Abuse</p>
    </button>
    <button class="button"><span></span>
        <p>Dr. Susan Jones </p>
        <br>
        <p>Specialty: Verbal Abuse</p>
    </button>
    <button class="button"><span></span>
        <p>Dr. Savannah Thompson </p>
        <br>
        <p>Specialty: Depression & Suicidal Thoughts</p>
    </button>
    <button class="button"><span></span>
        <p>Dr. Charlie Dunkin </p>
        <br>
        <p>Specialty: OCD</p>
    </button>
    
    
