    <head>
        <title></title>
    </head>

    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </section>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a class="nav-item" [routerLink]="['/welcome']">Home</a></li>
                <li><a class="nav-item" [routerLink]="['/about']">About</a></li>
                <li><a href="emergency.html">Emergency</a></li>
            </ul>
        </div>
    <div class="login-form">
        <h1>Login Here</h1>
        <form>
            <p>User Name</p>
            <input type="text" name="username" id="username" placeholder="Username" required
                [(ngModel)]="loginForm.username" #username="ngModel">
            <p>Password</p>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password"
                [(ngModel)]="loginForm.password" #password="ngModel">
            <button type="button" class="btn btn-lg" (click)="onLogin()"><span></span>Login</button>
        </form>
    </div>
